.App {
  text-align: center;
}

body {
  background-color: black;
  background-size: cover;
  background-position-y: -10%;
  font-family: roboto;
  
}

#List {
  background: none;
}

#listHeading {
  color: silver;
  
}

.footer {
  position: fixed;
  width: 100%;
  height: 5%;
  left: 0;
  bottom: 0;
  text-align: center;
 
}

#footerText {
  padding: .5%;
}

#SlideImage {
  max-height: 450px;
  max-width: 1570px;
}

#CarouselText {
  color: red;
}

.btn {
  margin:1%;
}

.card {
  margin: .5%;
}

#editForm {
  background: none;
  color: silver;

}

.formHeader {
  text-align: center;
}